@charset "UTF-8";
html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2;
  color: rgb(28, 28, 28);
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
body p {
  font-weight: 300;
}
body dt {
  font-weight: 600;
}
body dd {
  font-weight: 300;
}
body dt,
body dd {
  font-size: 1.5rem;
}
body img {
  display: block;
}

button {
  color: #2d2e2f;
}

.header {
  height: 65px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 150;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}

.header__company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .header__company-info {
    top: 1.3rem;
    left: 2.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .header__company-info {
    left: 8rem;
  }
}
.header__company-info .header__logo {
  width: 5.5rem;
}
@media screen and (min-width: 768px) {
  .header__company-info .header__logo {
    width: 7rem;
  }
}
.header__company-info .header__company-name {
  font-family: serif;
  font-size: 1.5rem;
}
.header__company-info .header__company-name a {
  display: block;
  padding: 1rem 0;
}

.header__hum-btn {
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 2.2rem;
  right: 1.3rem;
  z-index: 10;
  cursor: pointer;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .header__hum-btn {
    width: 5rem;
    top: 3.2rem;
    right: 3.7rem;
    gap: 1.2rem;
  }
  .header__hum-btn:hover span:nth-of-type(1) {
    width: 90%;
  }
  .header__hum-btn:hover span:nth-of-type(2) {
    width: 70%;
  }
  .header__hum-btn:hover span:nth-of-type(3) {
    width: 50%;
  }
}
.header__hum-btn span {
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media screen and (min-width: 768px) {
  .header__hum-btn span {
    height: 2px;
    background-color: rgb(78, 78, 78);
  }
}
.header__hum-btn::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 1440px) {
  .header__hum-btn {
    right: 9rem;
  }
}

.btn {
  font-family: "shippori Mincho";
  width: 200px;
  text-align: center;
  border-radius: 48px;
}
.btn a {
  display: block;
  padding: 12.5px 0 10.5px;
}

.btn-white {
  color: rgb(28, 28, 28);
  background-color: white;
  border: 1px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-white:hover {
  background-color: rgb(28, 28, 28);
  color: white;
  -webkit-box-shadow: 0 0 10px rgba(255, 254, 254, 0.3);
          box-shadow: 0 0 10px rgba(255, 254, 254, 0.3);
}

.btn-black {
  color: white;
  background-color: rgb(28, 28, 28);
  border: 1px solid rgb(28, 28, 28);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-black:hover {
  background-color: white;
  color: rgb(28, 28, 28);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
}

.btn-close {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*=============================
ナビゲーション
=============================*/
.nav {
  display: none;
  height: calc(100vh - 65px);
  width: 100vw;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: fixed;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.94);
  background-color: rgb(28, 28, 28);
}
@media screen and (min-width: 768px) {
  .nav {
    height: calc(100vh - 90px);
  }
}

.nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 10;
}

.nav__container {
  background-color: rgb(242, 241, 241);
  background-color: rgb(28, 28, 28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__container {
    width: calc(100% - 90px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px;
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .nav__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}
.nav__left p {
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .nav__left {
    width: 30%;
    border-top: none;
  }
  .nav__left p {
    font-size: 18px;
    font-weight: 250;
  }
}
@media screen and (min-width: 1440px) {
  .nav__left {
    width: auto;
    font-size: 20px;
  }
}

.nav__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__img {
    display: block;
    width: 360px;
  }
  .nav__img img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .nav__list-wrap {
    width: 30%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .nav__list-wrap {
    width: auto;
  }
}

.nav-list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
  margin-bottom: 40px;
}

.nav-item {
  cursor: pointer;
  letter-spacing: 0.1em;
}
.nav-item a {
  color: #060606;
  color: white;
  font-weight: 200;
  font-size: 18px;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .nav-item a {
    font-size: 2.8rem;
    padding: 10px;
  }
}

.sub-page__title {
  background-color: rgb(242, 241, 241);
  background-color: rgb(28, 28, 28);
  color: white;
  height: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .sub-page__title {
    height: 38rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sub-page__title {
    height: 30rem;
  }
}
.sub-page__title .sub-page__title__container {
  padding-left: 3rem;
}
@media screen and (min-width: 768px) {
  .sub-page__title .sub-page__title__container {
    width: 1200px;
    width: 1100px;
    margin: 0 auto;
  }
}
.sub-page__title h1 {
  font-size: 3.6rem;
}
@media screen and (min-width: 768px) {
  .sub-page__title h1 {
    font-size: 7rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .sub-page__title {
    font-size: 100px;
    top: 220px;
    left: 80px;
  }
}

.section__title__up {
  font-size: 14px;
  line-height: 1;
  color: rgb(99, 99, 99);
  margin-bottom: 0.125rem;
}
@media screen and (min-width: 768px) {
  .section__title__up {
    font-size: 2rem;
  }
}

.section-title {
  font-size: 42px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.06em;
}

.sub-page__section-title {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sub-page__section-title {
    font-size: 32px;
    margin-bottom: 42px;
  }
}

.picture-frame {
  width: 250px;
  height: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(93, 75, 75, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(93, 75, 75, 0.25);
  margin: 0 auto;
  position: relative;
  margin-bottom: 32px;
}

.pic-f {
  width: 80%;
  margin: 0 auto;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  min-width: 254px;
  max-width: 500px;
  margin-bottom: 32px;
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 768px) {
  .pic-f {
    border: 8px solid #fff;
  }
}
.pic-f .img01 {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .pic-f .img01 {
    margin-bottom: 8px;
  }
}

.footer {
  padding-top: 24px;
  padding-bottom: 16px;
  background-color: rgb(28, 28, 28);
  color: white;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer__ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2em;
}
.footer__ul small {
  font-size: 0.9rem;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .footer__ul small {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.8em;
  }
}

.footer__li a {
  display: inline-block;
  padding-bottom: 1px;
  position: relative;
  font-weight: 300;
  line-height: 1;
}
.footer__li a::after {
  content: "";
  bottom: 0;
  display: block;
  background-color: #000;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  width: 0;
}
.footer__li a:hover::after {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__li a {
    font-weight: 200;
  }
}

.deco-title {
  padding: 0.25em 0.5em;
  border-left: solid 5px rgb(119, 119, 118);
  font-size: 1.3em;
  font-weight: 100;
  margin-bottom: 1.6rem;
}

.grayscale {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .top {
    max-width: 1800px;
    margin: 0 auto;
    gap: 4rem;
  }
}
.top .top__txt-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
@media screen and (min-width: 768px) {
  .top .top__txt-img {
    margin: 0;
  }
}
.top .top__txt-img img {
  width: 35%;
  height: auto;
  max-width: 40px;
}
.top .top__img {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}
.top .top__img img {
  height: 420px;
  width: 316px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media screen and (min-width: 768px) {
  .top .top__img img {
    height: auto;
    width: auto;
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 300px;
    padding-bottom: 220px;
  }
}

.about__inner {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding: 0 6rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
  }
  .about__wrapper .about__contents,
  .about__wrapper .about__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about__wrapper .about__img {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

.about__title__up {
  text-indent: 0.25em;
}

.about__title {
  color: #2d2d2d;
  margin-bottom: 3.2rem;
  font-size: 5rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 9rem;
  }
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__description {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.about__description-highlight {
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.about__description-highlight::before {
  content: "";
  width: 100%;
  height: 50%;
  background: rgb(249, 246, 87);
  position: absolute;
  top: 0.8em;
  left: 0.1em;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about__txt {
  margin-bottom: 2.4rem;
  text-align: justify;
}

.about__btn {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-bottom: 0;
  }
}

.about__img {
  -webkit-filter: grayscale(95%);
          filter: grayscale(95%);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.about__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .about__img img {
    height: 100%;
  }
}

.works {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgb(28, 28, 28);
  color: white;
}
@media screen and (min-width: 768px) {
  .works {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.works__inner {
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .works__inner {
    padding: 0 6rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}

.works-section__title__up {
  color: white;
  text-indent: -3px;
  font-weight: 100;
}

.works__title {
  margin-bottom: 2rem;
  font-size: 5rem;
  text-indent: -3px;
  font-weight: 450;
}
@media screen and (min-width: 768px) {
  .works__title {
    font-size: 9rem;
    text-indent: 0px;
  }
}

@media screen and (min-width: 768px) {
  .works__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    padding: 0 6rem;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
}

.works__main-img {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .works__main-img {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .works__vertical-writing {
    display: none;
    line-height: 1.8;
  }
}
@media screen and (min-width: 768px) {
  .works__vertical-writing {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "shippori Mincho";
    font-size: 24px;
  }
  .works__vertical-writing p {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    letter-spacing: 0.4em;
  }
}

.works__not-vertical-writing {
  margin-bottom: 44px;
  line-height: 1.8;
  font-size: 18px;
  font-family: "shippori Mincho";
}
@media screen and (min-width: 768px) {
  .works__not-vertical-writing {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .works__t2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: greenyellow;
  }
}

.works__txt {
  text-align: justify;
  margin-bottom: 3.2rem;
  letter-spacing: 0.05em;
  max-width: 790px;
}
.works__txt p {
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .works__txt {
    letter-spacing: 0.04em;
  }
}

.works__pic {
  margin-bottom: 2.5rem;
  border: 3px solid #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (min-width: 768px) {
  .works__pic {
    border: 5px solid #fff;
    margin: 0;
    margin-bottom: 3rem;
  }
}

.r-c {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
@media screen and (min-width: 768px) {
  .r-c {
    padding-top: 24rem;
    padding-bottom: 24rem;
  }
}

.r-c__inner {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16rem;
}
@media screen and (min-width: 768px) {
  .r-c__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 6rem;
    gap: 0px;
    max-width: 120rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .r-c__wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 49%;
  }
}

.recruit__title--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.recruit__title,
.contact__title {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .recruit__title,
  .contact__title {
    font-size: 30px;
  }
}

.recruit__mini-title {
  font-size: 15px;
  font-weight: 200;
}

.recruit__text--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.recruit__description {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .recruit__description {
    margin-bottom: 42px;
  }
}

.r-c__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .r-c__wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    position: relative;
  }
}

.pc-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #c5c5c5;
}

.contact__title--wrapper {
  text-align: center;
  margin-bottom: 32px;
}

.contact__mini-title {
  font-size: 15px;
  font-weight: 200;
}

.contact__wrapper {
  text-align: center;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .contact__wrapper {
    margin: 0 auto;
  }
}

.contact__info {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .contact__more {
    margin-top: auto;
  }
}

/* ぼかしから出現 */
.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定*/
.blurTrigger {
  opacity: 0;
}

/* fadeUp */
.fadeUp {
  -webkit-animation-name: fadeUpAnime-normal;
          animation-name: fadeUpAnime-normal;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp-late {
  -webkit-animation-name: fadeUpAnime-normal;
          animation-name: fadeUpAnime-normal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime-normal {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime-normal {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

.about-page main {
  max-width: 1200px;
  max-width: 1100px;
  margin: 0 auto;
}
.about-page .greeting {
  padding-top: 6rem;
  padding-bottom: 12rem;
}
@media screen and (min-width: 768px) {
  .about-page .greeting {
    padding-top: 17rem;
    padding-bottom: 4rem;
  }
}
.about-page .greeting__inner {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .about-page .greeting__inner {
    padding-bottom: 80px;
  }
}
.about-page .greeting__title {
  text-indent: -0.15em;
}
@media screen and (min-width: 768px) {
  .about-page .greeting__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.about-page .greeting__txt {
  margin-bottom: 1.4rem;
  text-align: justify;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .about-page .greeting__txt {
    line-height: 2;
  }
}
.about-page .signature {
  -moz-text-align-last: right;
       text-align-last: right;
}
.about-page .section-line {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .about-page .section-line {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.about-page .company {
  padding-top: 63px;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .about-page .company {
    padding-top: 100px;
  }
}
.about-page .company__inner {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .about-page .company__inner {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.about-page .company__title {
  font-size: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about-page .company__title {
    font-size: 32px;
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 768px) {
  .about-page .company__left-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }
}
.about-page .company__contents--wrap {
  position: relative;
}
.about-page .company__item {
  position: relative;
}
.about-page .company__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background-color: #000;
}
.about-page dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-page dt {
  padding-top: 18px;
  padding-bottom: 18px;
  width: 120px;
}
.about-page dd {
  padding-top: 18px;
  padding-bottom: 18px;
}
.about-page table {
  border-collapse: collapse;
  width: 100%;
}
.about-page tr {
  border-bottom: gray 1px solid;
}
.about-page th {
  text-align: left;
  padding: 18px 0px;
  font-weight: 300;
}
.about-page td {
  width: auto;
  padding: 18px 0px;
  padding-left: 36px;
  font-weight: 300;
}

.recruit-page main {
  max-width: 800px;
  max-width: 90rem;
  margin: 0 auto;
}
.recruit-page .recruit {
  padding-top: 60px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .recruit-page .recruit {
    padding-top: 16rem;
  }
}
.recruit-page .recruit__inner {
  padding-left: 30px;
  padding-right: 30px;
}
.recruit-page .recruit__txt {
  letter-spacing: 0em;
  text-align: justify; /* 両端揃え */
}
.recruit-page .job-description {
  padding-top: 32px;
  padding-bottom: 100px;
  font-size: 14px;
  margin: 0 auto;
}
.recruit-page .job-description__inner {
  padding-left: 30px;
  padding-right: 30px;
}
.recruit-page .job-description__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.recruit-page .job-description__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background-color: #000;
}
.recruit-page .job-description__item--title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
}
.recruit-page .job-description__list--lv2nd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* 残りのスペースを占有 */
}
.recruit-page li, .recruit-page h3, .recruit-page h4 {
  font-weight: 300;
}
.recruit-page .recruit__add-margin-bottom {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .recruit-page .recruit__add-margin-bottom {
    margin-bottom: 0.6rem;
  }
  .recruit-page .recruit__add-margin-bottom:nth-of-type(1) {
    margin-bottom: 0;
  }
}
.recruit-page .qa {
  padding-top: 100px;
  padding-bottom: 120px;
}
.recruit-page .qa__inner {
  padding-left: 30px;
  padding-right: 30px;
}
.recruit-page .qa__item {
  border: solid 1px #000;
  border-radius: 6px;
  margin-bottom: 16px;
}
.recruit-page .qa__head {
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 18px;
  padding-right: 15px;
  width: 100%;
  text-align: left;
  position: relative;
}
.recruit-page .qa__head::before {
  content: "Q";
  font-weight: 500;
  margin-right: 12px;
}
.recruit-page .qa__head::after {
  content: "+";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 16px;
}
.recruit-page .qa__body {
  padding-bottom: 22px;
  padding-left: 18px;
  padding-right: 15px;
  width: 100%;
  position: relative;
  color: #fff;
  background-color: #656565;
  line-height: 0;
  opacity: 0;
  padding: 0;
}
.recruit-page .qa__body p {
  padding-left: 18px;
}
.recruit-page .qa__body--wrap::before {
  content: "A";
  font-weight: 500;
  margin-right: 12px;
  position: absolute;
}
.recruit-page .qa__head.is-open {
  color: #fff;
  background-color: #656565;
}
.recruit-page .qa__body.is-open {
  padding: 0 20px 20px 20px;
  line-height: 1.5;
  opacity: 1;
}
.recruit-page .qa__body.is-open.qa__item:nth-of-type(4) p:nth-of-type(2) {
  margin-bottom: 12px;
}
.recruit-page .qa__head.is-open::after {
  content: "-";
  font-size: 32px;
  color: #fff;
  top: -2.5px;
  right: 16px;
}

.works-page main {
  padding-top: 4rem;
  padding-bottom: 6rem;
  max-width: 1200px;
  margin: 0 auto;
}
.works-page p {
  text-align: justify;
  letter-spacing: 0.02rem;
}
.works-page .works-page__txt {
  margin-bottom: 6.2rem;
}
.works-page .introduction {
  margin-bottom: 5.2rem;
}
.works-page .works-page__inner {
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .works-page .works-page__inner {
    padding: 0 12rem;
  }
}
.works-page .deco-title {
  font-weight: 300;
}
.works-page .wide-img {
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 768px) {
  .works-page .wide-img {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.works-page .reversal-img {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.works-page .normal-img {
  margin-bottom: 1.8rem;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contact-page .contact_inner {
  padding: 0 3rem;
  max-width: 800px;
}
@media screen and (min-width: 768px) {
  .contact-page .contact_inner {
    margin: 0 auto;
  }
}
.contact-page .contact__intro {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .contact-page .contact__intro {
    padding-top: 5.6rem;
  }
}
.contact-page .contact__form {
  padding-top: 2rem;
  padding-bottom: 12rem;
}
.contact-page .form__list {
  margin-bottom: 4.2rem;
}
@media screen and (min-width: 768px) {
  .contact-page .form__list {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .contact-page .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact-page .form__list__label {
  font-weight: 400;
}
.contact-page .form__list__label span {
  font-size: 11px;
  border-radius: 4px;
  background: #f65656;
  color: white;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 0.3rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact-page .form__list__label {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.contact-page .form__list__input {
  margin-bottom: 1.8rem;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .contact-page .form__list__input {
    margin-bottom: 4rem;
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
  }
}
.contact-page input,
.contact-page textarea {
  width: 100%;
  border: solid 1px rgb(179, 179, 184);
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: rgb(248, 248, 248);
}
.contact-page .form-btn {
  display: block;
  margin: 0 auto;
  padding: 12.5px 0 10.5px;
}

.privacy-policy-page main {
  letter-spacing: 0.03em;
}
.privacy-policy-page .privacy-policy__inner {
  padding: 0 3rem;
  padding-bottom: 12rem;
  max-width: 800px;
}
@media screen and (min-width: 768px) {
  .privacy-policy-page .privacy-policy__inner {
    margin: 0 auto;
  }
}
.privacy-policy-page p {
  text-align: justify;
}
.privacy-policy-page .p-p__intro {
  padding-top: 4rem;
  padding-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  .privacy-policy-page .p-p__intro {
    padding-top: 6rem;
  }
}
.privacy-policy-page .p-p__wrapper {
  margin-bottom: 3.6rem;
}
.privacy-policy-page .p-p__ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 20px;
}
.privacy-policy-page .p-p__ul {
  list-style-type: square;
  margin-left: 20px;
  padding-left: 20px;
}
.privacy-policy-page li {
  font-weight: 300;
}