@use '../common/helper' as *;

.about-page {

// *************************** greeting ***************************
  .greeting {
    padding-top: 6rem;
    padding-bottom: 12rem;
    @include mq(pc) {
      padding-top: 170px;
      padding-bottom: 100px;
    }
  }

  .greeting__inner {
    padding-left: 30px;
    padding-right: 30px;

    @include mq(pc) {
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 80px;
    }
  }

  .greeting__title {
    text-indent: -.15em;
  }

  .greeting__wrap {
    @include mq(pc) {
      display: flex;
      gap: 108px;
      justify-content: center;
    }
  }

  .greeting__txt {
    margin-bottom: 14px;
    text-align: justify;
    margin-bottom: 2.5rem;
    @include mq(pc) {
      width: 518px;
      line-height: 2.5;
    }
  }

  .signature {
    text-align-last: right;
  }

  .section-line {
    padding-left: 30px;
    padding-right: 30px;
    @include mq(pc) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

// *************************** company ***************************
  .company {
    padding-top: 63px;
    padding-bottom: 120px;
    @include mq(pc) {
      padding-top: 100px;
    }
  }

  .company__inner {
    padding-left: 30px;
    padding-right: 30px;
    @include mq(pc) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .company__title {
    font-size: 24px;
    margin-bottom: 32px;
    @include mq(pc) {
      font-size: 32px;
      margin-bottom: 42px;
    }
  }

  .company__left-right {
    @include mq(pc) {
      display: flex;
      justify-content: center;
      gap: 70px;
      padding-left: 50px;
    }
  }

  .company__contents--wrap {
    position: relative;
  }

  .company__item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: .5px;
      width: 100%;
      background-color: #000;
    }
  }

  dl {
    display: flex;
  }

  dt {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 120px;
  }

  dd {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom: gray 1px solid;
  }

  th {
    text-align: left;
    // padding: 18px 18px 18px 0px;
    // width: 116px;
    padding: 18px 0px;
    font-weight: 300;
  }

  td {
    width: auto;
    padding: 18px 0px;
    padding-left: 36px;
    font-weight: 300;
  }












}
