@use "../common/helper" as *;

.contact-page {
  .contact_inner {
    padding: $padding_sp;
    max-width: 800px;
    @include mq() {
      margin: 0 auto;
    }
  }

  .contact__intro {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    text-align: justify;
    @include mq() {
      padding-top: 5.6rem;
    }
  }

  .contact__form {
    padding-top: 2rem;
    padding-bottom: 12rem;
    // max-width: 600px;

    @include mq() {
      // display: fle;
    }
  }

  .form__list {
    margin-bottom: 4.2rem;
    @include mq() {
      margin-bottom: 2rem;
    }
  }

  .form-row {
    @include mq() {
      display: flex;

      // gap: 8rem;
    }
  }

  .form__list__label {
    font-weight: 400;
    span {
      font-size: 11px;
      border-radius: 4px;
      background: #f65656;
      color: white;
      font-weight: 500;
      margin-left: 0.5rem;
      padding: 0.3rem;
      color: white;
    }

    @include mq() {
      flex: 1;
    }
  }

  .form__list__input {
    margin-bottom: 1.8rem;
    max-width: 500px;

    // max-width: 800px;

    @include mq() {
      margin-bottom: 4rem;
      flex: 9;
    }
  }

  input,
  textarea {
    width: 100%;
    border: solid 1px rgb(179, 179, 184);
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: rgb(248 248 248);
  }

  .form-btn {
    display: block;
    margin: 0 auto;
  }
}
