@use "../common/helper" as *;

.all-section__wrapper {
  @include mq(pc) {
    // min-width: 1200px;
    // padding: 0 500px;
  }
}

// ---------- トップイメージ----------

.top {
  display: flex;
  align-items: center;
  gap: 2rem;
  // margin: 0 auto;

  @include mq() {
    justify-content: space-between;
  }

  @include mq(pc-max) {
    max-width: 1800px;
    margin: 0 auto;
    gap: 4rem;
  }

  .top__txt-img {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    @include mq() {
      margin: 0;
    }

    img {
      width: 14px;
      height: 224px;

      @include mq() {
        width: 21px;
        height: 336px;
      }
    }
  }

  .top__img {
    // margin-left: auto;
    // display: flex;
    // justify-content: flex-end;
    flex: 8;
    img {
      height: 420px;
      width: 316px;
      object-fit: cover;
      filter: grayscale(100%);

      @include mq() {
        height: auto;
        width: auto;
      }
    }
  }
}

// ---------- about ----------
.about {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq() {
    padding-top: 300px;
    padding-bottom: 220px;
  }
}

.about__inner {
  padding-left: 30px;
  padding-right: 30px;

  @include mq(pc) {
    padding: $padding_pc;
    max-width: $max-width_pc;
    margin: 0 auto;
  }
}

.about__wrapper {
  @include mq(tb) {
    display: flex;
    flex-direction: column;
  }

  @include mq() {
    display: flex;
    justify-content: center;
    gap: 5rem;

    .about__contents,
    .about__img {
      flex: 1;
    }

    .about__img {
      flex: 1.5;
    }
  }
}

.about__title__up {
  text-indent: 0.25em;
}

.about__title {
  color: #2d2d2d;
  margin-bottom: 3.2rem;
  font-size: 5rem;

  @include mq() {
    font-size: 9rem;
  }
}

.about__contents {
  display: flex;
  flex-direction: column;

  @include mq(pc) {
    // order: 2;
  }
}

.about__description {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.about__description-highlight {
  font-weight: 600;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background: rgb(249, 246, 87);
    position: absolute;
    top: 0.8em;
    left: 0.1em;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.about__txt {
  margin-bottom: 2.4rem;
  text-align: justify;
}

.about__btn {
  margin-bottom: 4rem;

  @include mq(pc) {
    margin-bottom: 0;
  }
}

.about__img {
  filter: grayscale(95%);
  transition: 0.8s ease-in-out;

  img {
    max-width: 100%;
    object-fit: cover;
    @include mq(pc) {
      height: 100%;
    }
  }
}

// ---------- works ----------
.works {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgb(28, 28, 28);
  color: white;

  @include mq() {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.works__inner {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;

  @include mq() {
    padding: $padding_pc;
    max-width: $max-width_pc;
    margin: 0 auto;
    // display: initial;
  }
}

.works-section__title__up {
  color: white;
  text-indent: -3px;
  font-weight: 100;
}

.works__title {
  margin-bottom: 2rem;
  font-size: 5rem;
  text-indent: -3px;
  font-weight: 450;

  @include mq(pc) {
    font-size: 9rem;
    text-indent: 0px;
  }
}

.works__top {
  @include mq() {
    display: flex;
    gap: 5rem;
    padding: $padding_pc;
    max-width: $max-width_pc;
    margin: $margin-auto_pc;
    margin-bottom: 10rem;
  }
}

.works__main-img {
  // margin-bottom: 42px;
  margin-bottom: 30px;
  @include mq() {
    // width: 62.5%;
    flex: 7;
    margin-bottom: 0;
    // flex-basis: ;
  }
}

.works__vertical-writing {
  @include mq(sp) {
    display: none; //sp時は、縦書き表示をなくす。
    line-height: 1.8;
  }

  @include mq(pc) {
    flex: 1;
    line-height: 2;
    display: flex;
    font-family: "shippori Mincho";
    font-size: 24px;
    p {
      writing-mode: vertical-rl;
      letter-spacing: 0.4em;
    }
  }
}

.works__not-vertical-writing {
  margin-bottom: 44px;
  line-height: 1.8;
  font-size: 18px;
  font-family: "shippori Mincho";
  // color: #000;

  @include mq(pc) {
    display: none;
  }
}

// .works__inner3 {
//   padding-left: 30px;
//   padding-right: 30px;

//   @include mq(pc) {
//     max-width: 1045px;
//     padding-left: 60px;
//     padding-right: 60px;
//     margin: 0 auto;
//   }
// }

.works__tt {
  @include mq() {
    // display: flex;
    // flex-direction: row;
    // gap: 8rem;
    // background-color: rgb(255, 255, 195);
  }
}

.works__t {
  // margin-bottom: 2rem;
  @include mq() {
    // display: flex;
    // flex-direction: column;
    // margin-bottom: 0;
    // margin: 10rem;
    // justify-content: flex-start;
    // background-color: yellow;
  }
}

.works__t2 {
  @include mq() {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    background-color: greenyellow;
  }
}



.works__txt {
  text-align: justify;
  margin-bottom: 3.2rem;
  letter-spacing: 0.05em;
  max-width: 790px;
  p {
    font-weight: 100;
  }

  @include mq() {
    letter-spacing: $letter-spacing-base;
  }
}

.works__pic {
  margin-bottom: 2.5rem;

  border: 3px solid #fff;
  box-shadow: none;
  @include mq() {
    border: 5px solid #fff;
    margin: 0;
    margin-bottom: 3rem;
  }
}

.works__more {
  @include mq() {
    // margin: 0;
    // margin-left: auto;
  }
}

// ---------- r-c ----------
.r-c {
  padding-top: 12rem;
  padding-bottom: 12rem;
  // color: #ffffff;
  // background-color: rgb(28, 28, 28);
  @include mq(pc) {
    padding-top: 24rem;
    padding-bottom: 24rem;
  }
}

.r-c__inner {
  padding: $padding_sp;
  display: flex;
  flex-direction: column;
  gap: 16rem;

  @include mq(pc) {
    flex-direction: row;
    padding: $padding_pc;
    gap: 0px;
    max-width: $max-width_pc;
    margin: 0 auto;
  }
}

// ---------- r-c左 ----------
.r-c__wrapper1 {
  @include mq(pc) {
    display: flex;
    flex-direction: column;
    width: 49%;
  }
}

.recruit__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

// r-c共通
.recruit__title,
.contact__title {
  // border-bottom: 1px solid #000000;
  // padding-bottom: 6px;
  font-size: 20px;
  @include mq(pc) {
    font-size: 30px;
  }
}

.recruit__title {
  @include mq(pc) {
  }
}

.recruit__mini-title {
  font-size: 15px;
  font-weight: 200;
}

.recruit__text--contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recruit__description {
  font-size: 1.8rem;

  @include mq(pc) {
    margin-bottom: 42px;
  }
}

// ---------- r-c右側 ----------
.r-c__wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq() {
    display: flex;
    width: 49%;
    position: relative;
  }
}

.pc-line {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #c5c5c5;
  }
}

.contact__title--wrapper {
  text-align: center;
  margin-bottom: 32px;
}

.contact__title {
  @include mq(pc) {
  }
}

.contact__mini-title {
  font-size: 15px;
  font-weight: 200;
}

.contact__wrapper {
  text-align: center;
  margin-bottom: 2.4rem;

  @include mq() {
    margin: 0 auto;
  }
}

.contact__info {
  font-size: 1.8rem;
}

.contact__more {
  @include mq() {
    margin-top: auto;
  }
}
// ---------- じわっ ----------
/* ぼかしから出現 */
.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定*/
.blurTrigger {
  opacity: 0;
}

// ---------- ふわっ ----------
/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime-normal;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

// 遅いver
.fadeUp-late {
  animation-name: fadeUpAnime-normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime-normal {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}
