@use "../common/helper" as *;

.privacy-policy-page {

  main {
    letter-spacing: 0.03em;
  }

  .privacy-policy__inner {
    padding: $padding_sp;
    padding-bottom: 12rem;
    max-width: 800px;
    @include mq() {
      margin: 0 auto;
    }
  }

  p {
    text-align: justify;
  }

  .p-p__intro {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
    @include mq() {
      padding-top: 6rem;
    }
  }

  .p-p__txt {
  }

  .p-p__wrapper {
    margin-bottom: 3.6rem;
  }

  .p-p__ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }
  .p-p__ul {
    list-style-type: square;
    margin-left: 20px;
    padding-left: 20px;
  }

  li {
    font-weight: 300;
  }
}
