@use '../common/helper' as *;

.recruit-page {

  main {
    max-width: 800px;
    max-width: 90rem;
    margin: 0 auto;
  }


  .recruit {
    padding-top: 60px;
    padding-bottom: 32px;
    @include mq() {
      padding-top: 16rem;
    }
  }

  .recruit__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .recruit__txt {
    letter-spacing: 0em;
    text-align: justify; /* 両端揃え */
  }


// ********** job-description **********
  .job-description {
    padding-top: 32px;
    padding-bottom: 100px;
    font-size: 14px;
    // max-width: 88rem;
    margin: 0 auto;
  }

  .job-description__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .job-description__list--lv-1st {

  }

  .job-description__item {
    position: relative;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0.5px;
      width: 100%;
      background-color: #000;
    }
  }

  .job-description__item--title {
    flex: 0 0 110px;
  }

  .job-description__list--lv2nd {
    flex: 1;
    /* 残りのスペースを占有 */
    // 明示的に設定
  }

  li, h3, h4 {
    font-weight: 300;
  }

  .recruit__add-margin-bottom {
    margin-bottom: 1.5rem;
    @include mq() {
      margin-bottom: .6rem;
      &:nth-of-type(1) {
        margin-bottom: 0;
      }
    }
  }

  // *************** qa ***************
  .qa {
    padding-top: 100px;
    padding-bottom: 120px;
    // max-width: 88rem;
  }

  .qa__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .qa__item {
    border: solid 1px #000;
    border-radius: 6px;
    margin-bottom: 16px;

  }

  .qa__head {
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 15px;
    width: 100%;
    text-align: left;
    position: relative;

    &::before {
      content: "Q";
      font-weight: 500;
      margin-right: 12px;
      // position: absolute;

    }

    &::after {
      content: "+";
      font-size: 20px;
      display: inline-block;
      position: absolute;
      top: 13px;
      right: 16px;
    }
  }

  .qa__body {
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    color: #fff;
    background-color: #656565;

    line-height: 0;
    opacity: 0;
    padding: 0;

    p {
      padding-left: 18px;
    }
  }

  .qa__body--wrap {
    &::before {
      content: "A";
      font-weight: 500;
      margin-right: 12px;
      position: absolute;

    }
  }

  .qa__head.is-open {
    color: #fff;
    background-color: #656565;
  }

  .qa__body.is-open {
    padding: 0 20px 20px 20px;
    line-height: 1.5;
    opacity: 1;
  }

  .qa__body.is-open.qa__item:nth-of-type(4) p:nth-of-type(2) {
    margin-bottom: 12px;

  }

  .qa__head.is-open::after {
    content: "-";
    font-size: 32px;
    color: #fff;
    top: -2.5px;
    right: 16px;
  }


}
