@use "sass:map";

html {
  // font-size: clamp(15px, 2vw, 18px);
  font-size: 62.5%; /* 10px = 1rem */
}

$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;
// $section-title__font-family: "Shippori Mincho", serif;
// $section-title__font-family: "Oswald", sans-serif;

$font-size-base_sp: 1.5rem;
$font-size-base_pc: 1.6rem;
$line-height-base: 2;
$color-base: #333;
$weight-base: 300;
$letter-spacing-base: 0.04em;

$background-base: #ffffff;
$width-inner: 128rem;

$padding_sp: 0 3rem;
$padding_pc: 0 6rem;

// あとで数値決める
$max-width_sp: 0rem;
$max-width_pc: 120rem;

$margin-auto_pc: 0 auto;
// 基本的にflex-boxで対処
// 調整にmarginやpaddingを使う



//マップ型変数breakpointsを定義
$breakpoints: (
  //767px以下（スマホ）用の表示
  sp: "screen and (max-width: 767px)",
  // 768px〜1023px（タブレット）用の表示
  tb: "screen and (min-width: 768px) and (max-width: 1023px)",
  //768px以上（PC）用の表示
  pc: "screen and (min-width: 768px)",
  //1400px以上（PC大きめ）用の表示
  pc-max: "screen and (min-width: 1440px)"
) !default; // 今の所defaultは必要ないが、念の為

//メディアクエリ用のmixinを定義。デフォルト値はpc
@mixin mq($breakpoint: pc) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map.get($breakpoints, $breakpoint)} {
    //@contentはカスタムできる箇所
    @content;
  }
}
